body { background: #d46e1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 15px; display: flex; }
.block-validator-0 { color: #bd11a7; font-size: 12px; margin-bottom: 5px; }
.block-uploader-1 { color: #71cea4; font-size: 12px; margin-bottom: 5px; }
.block-shipping-2 { color: #7ebba1; font-size: 18px; margin-bottom: 5px; }
.block-config-3 { color: #7bbcbe; font-size: 14px; margin-bottom: 5px; }
.block-uploader-4 { color: #b53c5f; font-size: 18px; margin-bottom: 5px; }
.block-cart-5 { color: #20e825; font-size: 17px; margin-bottom: 5px; }
.block-config-6 { color: #1731e4; font-size: 13px; margin-bottom: 5px; }